<html>
    <head>
        <title>Blog Olgi</title>
    </head>
    <body>
        <center><img src=https://img.cda.pl/obr/oryginalne/850ca7d90566b9ed82c60d9d50771230.jpg alt=cos></center>
        <center><h1 style="color:red;">Mój Super Blog</h1></center>
        <br />
        <div>
          <p>Potwór, monstrum (łac. zły omen, cud) – samo słowo wywodzi się od "po tworzeniu" czyli ma to być istota "stworzona już po właściwym dziele stworzenia" – popularne określenie szerokiej grupy fikcyjnych stworzeń występujących w mitologii, legendach, wierzeniach ludowych oraz literaturze grozy. Stworzenia takie zwykle cechują się przerażającym wyglądem, a także prymitywnym, agresywnym zachowaniem, często utożsamianym z wcieleniem zła. Zbliżonym znaczeniowo terminem jest bestia, choć z założenia, wygląd "bestii" ma przywodzić na myśl istniejący organizm(y) (zwykle kręgowca – gada, ssaka, płaza, względnie rybę lub ptaka), podczas gdy "potwór" ma stanowić zupełnie nową jakość – istotę niepodobną do żadnego znanego ludzkości organizmu. Innym synonimem potwora, występującym zwłaszcza w fantastyce naukowej, jest mutant.</p>
        </div>
    </body>
</html>
